
/* General settings */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: #fdfeff;
    font-family: poppins, sans-serif;
}

/* logo */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

/* nav bar */
.nav_bar{
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 15rem;
    font-size: 16px;
}

.nav_links ul{
    display: flex;
    gap: 5rem;
    cursor: pointer;
}

.nav_links ul a{
    color: #484848;
    padding-bottom: 5px;
}

.nav_links > ul > li a:hover{
    color: #6d6c6c;
    transition: .5s ease;
    border-bottom: solid #6d6c6c 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Hero section */
.hero_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    margin: 2.5rem 15rem;
    font-size: 16px;
}

.hero_details{
    margin-left: 5rem;
    margin-top: 5rem;
    line-height: 1rem;
    text-align: center;
}

.hero_details h1{
    line-height: 5rem;
    font-size: 3rem;
}

.hero_btn_container{
    display: flex;
    gap: 2rem;
}

.hero_btn_container button{
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #fdfeff;
    cursor: pointer;
}

.hero_btn_container button:hover{
    background-color: #000000;
    color: #fdfeff;
    transition: .5s ease;
}

.hero_img_container img{
    width: 30rem;
    height: 30rem;
}

.hero_img_container img:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

.hero_socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.hero_socials img{
    width: 3rem;
}

.hero_socials img:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

/* About Section */

.section_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    margin: 5rem;
    font-size: 16px;
    height: 10rem;
}

.about_details_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-left: 10rem;
}

.about_container img:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

.about_img img{
    width: 25rem;
}

.details_cards{
    display: flex;
    gap: 5rem;
}

.card_1, .card_2{
    border: solid #6d6c6c 1px;
    width: 32rem;
    height: 13rem;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    line-height: 1.7rem;
    font-size: 14px;
}

.card_1 img,
.card_2 img {
    width: 30px;
}

.detail_note{
    max-width: 80%;
    text-align: center;
    margin: 12px 5px;
    font-size: 14px;
}


/* Experince section */

.experience_cards_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.exp_card_1, .exp_card_2{
    border: solid 1px #6d6c6c;
    width: 40rem;
    height: 20rem;
    border-radius: 15px;
    padding: 2rem;
}

.exp_card_1 h2, .exp_card_2 h2{
    text-align: center;
    margin: 1rem;
    color: #484848;
}

.stack_container{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.stacks {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    line-height: 15px;
    margin: 15px;
}
.stacks img {
    width: 24px;
    height: 24px;
}
.stacks div {
    display: flex;
    flex-direction: column;
}


/* Project section */

.project_cards_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.project_cards{
    width: 30rem;
    height: 38rem;
    border: #484848 solid 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.project_case{
    margin: 20px;
    width: 25rem;
    height: 25rem;
    border: solid 1px #484848;
    border-radius: 15px;
}

.project_case img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.view_more{
    margin-top: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view_more_container a{
    text-decoration: none;
    color: #484848;
}

.view_more_container a:hover{
    color: #000000;
    transition: .5s ease-in-out;
    font-size: larger;
}
